<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <!-- Accesing error from app.js error
            // Showing generic error message
                app.use((err, req, res, next) => {
                    // taking statusCode and message from catchAsync with default values
                    const {statusCode = 500} = err;
                        if(!err.message) err.message = 'Oh no something bad happened'
                    // Passing err to the error template
                    res.status(statusCode).render('error', {err});   
            }) -->
            <h4 class="alert-heading"><%=err.message%></h4>
                <p>Alert Content</p>
            <hr>
                <p class="mb-0">Alert Description</p>
        </div>
    </div>
</div>
