<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <!-- grouping content together -->
            <input class="form-control" type="text" id="title" required name="campground[title]">
            <div class="valid-feedback">
                  Title looks good!
                </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <!-- grouping content together -->
            <input class="form-control" type="text" id="location" required name="campground[location]">
            <div class="valid-feedback">
                Location found!
                </div>
        </div>
        <input type="file" name="image" id="" multiple>
        <!-- <div class="mb-3">
            <label class="form-label" for="image">Image url</label>
            <input class="form-control" type="text" id="image" required name="campground[image]">
            <div class="valid-feedback">
                Image accepted!
                </div>
        </div> -->
        <div class="mb-3">
            <label class="form-label" for="price">Campground Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">€</span>
                <input type="text" class="form-control" placeholder="0.00" id="price" required aria-label="price" aria-describedby="basic-addon1" name="campground[price]">
                <div class="valid-feedback">
                 Fair price!
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <!-- grouping content together -->
            <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
            <div class="valid-feedback">
                  Sounds interesting!
    </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Add Campground</button>
        </div>
        </form>
    <footer>
        <a href="/campgrounds">Back to Campgrounds</a>
    </footer>
    </div>
</div>
