<% layout('layouts/boilerplate') %>
<h1>Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <!-- grouping content together -->
        <input class="form-control" type="text" id="username" required name="username">
        <div class="valid-feedback">
               Looks good!
            </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <!-- grouping content together -->
        <input class="form-control" type="email" id="email" required name="email">
        <div class="valid-feedback">
               Looks good!
            </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <!-- grouping content together -->
        <input class="form-control" type="text" id="password" required name="password">
        <div class="valid-feedback">
               Looks good!
            </div>
    </div>
    <button class="btn btn-success">
        Register
    </button>
</form>